{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block css%}
        <link rel="stylesheet" href="{% static 'src/main.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/ac1d389ab4.js" crossorigin="anonymous"></script>
    {% endblock %}
    {% block js %}
        <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
        <script src="{% static 'js/basket_scripts.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% endblock %}
    <title>
        {% block title %}
            {{ title }}
        {% endblock %}
    </title>
</head>
<body>
    <div class="container">
        <div class="header-page padding-site">
            <div class="slider-header clearfix">
                <a href="{% url 'main' %}"><img src="{% static 'img/logo.svg' %}" alt="logo" class="logo"></a>
                {% include 'mainapp/inc/inc_main_menu.html' %}
            </div>
            <div class="header-content">
                <h2 class="contact-h2">
                    Ваша корзина,
                    {% if user.first_name %}
                        {{ user.first_name|title}}
                    {% else %}
                        Пользователь
                    {% endif %}
                </h2>
            </div>
        </div>
        <div class="basket_container">
            {% block content %}
            {% endblock %}
        </div>
        {% block footer %}
            <div class="footer padding-site">
                <div class="footer-content-full">
                    <div class="footer-content footer-content-text-1"><p class="footer-contact-us">Contact Us</p>
                        <p class="footer-contact-us-text contact-us-text-1">132A Bridge Road Richmond VIC Australia.</p><p class="footer-contact-us-text contact-us-text-2">Talk to us on 1300 132 info@interior.com</p></div>
                    <div class="footer-content footer-content-text-2">
                        <p class="footer-contact-us">Useful Information</p>
                        <div class="footer-link-group-1">
                            <a href="#" class="fotter-link">Sales terms</a>
                            <a href="#" class="fotter-link">Customer care</a>
                            <a href="#" class="fotter-link">Delivery</a>
                        </div>
                        <div class="footer-link-group-2">
                            <a href="#" class="fotter-link">Architect accounts</a>
                            <a href="#" class="fotter-link">Careers</a>
                            <a href="#" class="fotter-link">Exchanges & returns</a>
                        </div>
                    </div>
                    <div class="footer-content footer-content-text-3">
                        <p class="footer-contact-us">Let’s Stay in Touch!</p>
                        <p class="footer-touch-text">Suscribe to know about our latest news, products and special offers just for suscribers.</p>
                        <input type="email" placeholder="your email address" class="footer-input-email"><i class="fab fa-telegram-plane footer-telegram"></i>
                    </div>
                    <div class="footer-follow-content">
                    <div class="copy-content-1">
                        <p class="copy">&copy;Copyright - INTERIOR {% now "Y" %}. All Rights Reserved.</p>
                    </div>
                    <div class="follow-content-2">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-google-plus"></i></a>
                        <a href="#"><i class="fab fa-pinterest"></i></a>
                    </div>
                    <div class="text-content-3">
                        <a href="#"><p class="copy">Terms & Conditions  /  Privacy policy & Cookies</p></a>
                    </div>
                </div>
                </div>
            </div>
        {% endblock %}
    </div>
</body>
</html>